
# Eclipse project files and folders
.classpath
.project
.settings/*
.externalToolBuilders/*
bin/*

# IntellIj project files and folders
.idea
*.iml

# Build structure for the ANT script
build/*
release/*
